@import 'tailwindcss';

@theme {
	--color-background: #191b28;
	--color-foreground: #f6f6f6;
	--color-primary: #ad2528;
	--padding-layout: 1.3rem;
	--color-white: #fff;
	--color-border: #2a3439;
	// --duration-default: 300ms;
	// --ease-default: ease-in-out;
	// --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	/* --font-sans: "Geist", "Montserrat", "Helvetica", sans-serif;*/
	--font-mono: monospace;
	--breakpoint-3xl: 130rem;
}

:root {
	--sidebar-width: 15rem;
	--background: var(--color-background);
	--foreground: var(--color-foreground);
	--primary: var(--color-primary);
	--bg: var(--color-background);
	--white: var(--color-white);
	--border: var(--color-border);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-background);
		--foreground: var(--color-foreground);
	}
}

body {
	background: var(--background);
	color: var(--white);
	font-family: var(--font-sans);
	// padding: 1rem;
	// main {
	// 	padding: 1rem;
	// }
}
